{% extends "base.html" %}

{% block title %}
{{ t("app.name") }} · {{ t("settings.title") }}
{% endblock %}

{% block content %}

<h2>{{ t("settings.title") }}</h2>

<form method="post" action="/settings">
    <label>
        {{ t("settings.domain") }}<br>
        <input
            type="text"
            name="domain"
            value="{{ domain }}"
            placeholder="mydomain.com"
        >
    </label>

    <br><br>

    <label>
        {{ t("settings.language") }}<br>
        <select name="language">
            <option value="de" {% if language_setting == "de" %}selected{% endif %}>Deutsch</option>
            <option value="en" {% if language_setting == "en" %}selected{% endif %}>English</option>
        </select>
    </label>

    <br><br>

    <label>
        {{ t("settings.asset_source_type") }}<br>
        <select name="asset_source_type">
            <option value="url" {% if asset_source_type == "url" %}selected{% endif %}>{{ t("settings.asset_source_type_url") }}</option>
            <option value="file" {% if asset_source_type == "file" %}selected{% endif %}>{{ t("settings.asset_source_type_file") }}</option>
        </select>
    </label>

    <br><br>

    <label>
        {{ t("settings.asset_source") }}<br>
        <input
            type="text"
            name="asset_source"
            value="{{ asset_source }}"
            placeholder="http://127.0.0.1:9966/apps-installed.json"
        >
    </label>

    <br><br>

    <label>
        {{ t("settings.asset_github_api_token") }}<br>
        <input
            type="password"
            name="github_token"
            value="{{ github_token }}"
            placeholder="optional"
        >
    </label>

    <br><br>

    <button type="submit">{{ t("common.save_button") }}</button>
</form>

{% endblock %}
